.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

.userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
    user-select: none;
}

.layui-side-scroll .userinfo {
    border-bottom: 3px solid #000;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.text-avatar {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    line-height: 40px;
    font-style: 12px;
    margin-right: 10px;
}